<form class="flexcol" id="weather-app">
    <div id="displayContainer">
        <div id="current-temp">
            <img id="temp-icon" src="/modules/weatherfx/images/clearSky.webp" alt="heavyRain"></img>
            <span id="temp"> 68.7F</span>
        </div>
        <div id="high-low">
            <i class="fas fa-temperature-high" id="fa-icon"></i><span id="temp"> 78.8F</span><br>
            <i class="fas fa-temperature-low" id="fa-icon"></i><span id="temp"> 60.6F</span>
        </div>
        <div id="wind">
            <i class="fas fa-wind" id="fa-icon"></i><span id="temp"> 17.2mph</span><br>
            <i class="far fa-compass" id="fa-icon"></i><span id="temp"> SE</span>
        </div>
        <div id="weather-text">Clear conditions throughout the day.</div>
    </div>

    <div id="rightHandle"></div>
</form>